@media screen and (max-width: 576px) {

    .navebar-container,
    .manubar,
    .manu-list {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .logo{
        justify-content: center;
        padding: 0;
    }

    .manu-list>li,.first-btn{
        margin-top: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 996px) {
    .navebar-container,
    .manubar,
    .manu-list {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .logo{
        justify-content: center;
        padding: 0;
    }

    .manu-list>li,.first-btn{
        margin-top: 10px;
    }

    
}